 body{
     font-family: arial, tahoma, sans-serif;
 }
 
 h1{
     text-align: center;
 }

 .text{
     text-align: center;
 }
 
 h2{
    background-color: rgb(13, 224, 101); 
 }

 .red{
     background-color: rgb(33, 41, 153);
     color: aliceblue;
     padding: 10px;
     width: 50%;
     margin: auto;    
   }

   li{
       border: 1px solid;
   }


